*{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: bisque; */
}


h1{
    text-align: center;
    align-items: center;
    color: blue;
    background-color:darkorange;

}

    .container{
    /* background-color: antiquewhite; */
    background-size: cover;
    align-items: center;
    margin: 3% 25%;
    
} 

.C1{
    display: flex;
    align-items: center;
    text-align: center;
     flex-direction: column;
/*     background-image: url(/images/night_moon_clouds_266001.webp); */
    background-image: url(/images/night_moon_clouds_266001%20-%20Copy.webp);
    background-size: cover;
     /* margin: 2% 15%; */
    padding: 5px 5px;
    height: 425px;
    /* width: 400px; */
    border-radius: 15px;
    border-style: double;
    border-color: rgb(112, 4, 4);
    border-width: 10px;
}
.C2{ 
    display:grid;

 }
.C3{
    display: inline grid;
    /* background-color: blue; */
    list-style: none;
    height: 80%;
    width: 90%;
    background-size: cover;
}
.C4{
    display: flex;
    list-style: none;
    align-items:center;
    text-align: center;
  
}
h2{
    background-color:darkred;
}
li{
    /* background-color:blue ; */
    margin: 2px 30px 3px 1px;
}
.C5{
    height: 100px;
    width: 100px;
    color: cornsilk;
}
.C6{
    height: 100px;
    width: 100px;
    color: cornsilk;
}

button{
    height: 35px;
    border-style: solid;
    border-radius: 10px;
    background-color:chocolate;
    border-color: rgb(133, 20, 43);

}
button:hover{
    background-color: crimson;
}

#userinput {
    height: 25px;
    width:50%;
    border-style: solid;
    border-radius: 10px;
    background-color: cornsilk;
    border-color: rgb(133, 20, 43);
    font-size: 18px;
}
@media screen and (max-width: 570px) {
    .C4 {  flex-direction: column;};
    .C1 {align-items:flex-start;}
}
